body{
    font-family: system-ui;
}

.bigimg{
    width:100%;
    max-width: 400px;
}

/*
Dark mode
*/
@media (prefers-color-scheme: dark) {
    .header{
        background-color: rgb(8, 56, 92);
        color: #E0E0E0
    }
    body{
        background-color: #323232;
    }
    .card{
        background-color: #444;
        box-shadow:2px 2px 5px #222;
    }
    .header, body, .card{
        color: #E0E0E0
    }
    .barheader{
        background-color:#464a4c
    }
    a{
        color:rgb(83, 158, 250)
    }
    a:hover{
        color:rgb(0, 115, 255) 
    }
}
